.container{
    margin-bottom: 100px;
}
.bg-color{
    background-color: #fceae8 ;
}
.price{
    color: #ff136f;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
    background-image: linear-gradient(to bottom ,#ff589B ,#ff136f);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}
.catagoris img{
    width: 100px;
}
.cat1,.cat2,.cat3{
    padding: 10px 40px;
    border-radius: 10px;
    color: rgb(234, 232, 232);
}
.cat1{
    background-image: linear-gradient( to right,rgb(255, 166, 0) ,rgb(243, 183, 72));
}
.cat2{
    background-image: linear-gradient(to right, rgb(31, 31, 244), rgb(72, 72, 255));
}
.cat3{
    background-image: linear-gradient(to right,rgb(181, 2, 181),rgb(246, 0, 246));
}